@using System.Threading.Tasks
@using WebPortal.Web.Public.Startup
@using CultureHelper = WebPortal.Localization.CultureHelper
@{
    ViewBag.CurrentPageName = FrontEndPageNames.DeathBenefit;
}
@section Styles
{

}
@section Scripts
{

}
@Html.Partial("~/Views/Members/_HwSideBar.cshtml")

<div class="cell-lg-9">
    <div class="range">
        <div class="cell-xs-24 cell-md-12" style="margin-bottom:35px;">
            <article class="icon-box-vertical">
                <h5 class="icon-box-header"><a href="\health-and-welfare-reference"><b>Death Benefits</b>| Based on Current Eligibility for Health Coverage</a></h5>
            </article>
        </div>

        <div class="cell-xs-6 cell-md-4 ">
            <article class="icon-box-vertical icon-box-vertical-sm">
                <p>$25,000 is payable to the designated beneficiary in the event of the death of the Employee while covered under the Plan</p>
            </article>

        </div>
        <div class="cell-xs-6 cell-md-4">
            <article class="icon-box-vertical icon-box-vertical-sm">
                <p>$5,000 in additional accidental death benefits are payable to the designated beneficiary in the event of a death of the Employee due to an Accidental Injury while covered under the Plan.</p>
            </article>

        </div>
        <div class="cell-xs-6 cell-md-4">
            <article class="icon-box-vertical icon-box-vertical-sm">

                <p>Up to $5,000 in accidental dismemberment benefits are payable to the employee in the event of dismemberment of the Employee due to an Accidental Injury while covered under the Plan.</p>
            </article>
        </div>
        <div class="cell-xs-6 cell-md-5" style="margin-top:35px">
            <a href="\Docs\HealthPlan\aig-proof-of-death-claim-form.pdf" target="_blank"><div class="btn btn-primary btn-block">Proof of Death Claim Form</div></a>
        </div>

        <div class="cell-xs-24 cell-md-12" style="margin:35px 0px;">
            <article class="icon-box-vertical">
                <h4 class="icon-box-header" style="color:#000;">Need to Report a Death?</h4>
                <p>To report a death, please call the Trust Fund Office at (626)279-3054(local) or 1(800)622-3367(toll-free). Monday through Friday, between the hours of 7:00a.m. and 6:00p.m., Pacific Standard Time.</br></br>Be prepared to provide the following information:</p>
                <ul class="list-marked">
                    <li>Member's SSN(if available)</li>
                    <li>Name of Deceased</li>
                    <li>Deceased Relationship to Member</li>
                    <li>Date of Death</li>
                    <li>Who to contact(Name, Relationship, Telephone Number and Address)</li>
                </ul>
                <p>Someone will contact the designated beneficiary within 2-3 business days for additional information.</p>
            </article>

        </div>



    </div>


</div>
            </div>
          </div>
    </section>
</div>
