@using System.Threading.Tasks
@using WebPortal.Web.Public.Startup
@using CultureHelper = WebPortal.Localization.CultureHelper
@{
    ViewBag.CurrentPageName = FrontEndPageNames.HealthPlan;
}
@section Styles
{

}
@section Scripts
{

}

@Html.Partial("~/Views/Members/_HwSideBar.cshtml")
<div class="cell-lg-9">
    <iframe width="100%" height="40%" src="https://www.youtube.com/embed/KPULGveUSzk?modestbranding=1&amp;rel=0" frameborder="0" allowfullscreen></iframe>
    <div class="range">

        <div class="cell-xs-24 cell-md-12" style="margin-bottom:35px;">
            <article class="icon-box-vertical">
                <h5 class="icon-box-header"><a href="\health-and-welfare-reference"><b>Reciprocity</b>| Money Follows the Man</a></h5>
                <p>From time to time, the Board of Trustees may approve reciprocity agreements with other Health and Welfare Funds affiliated with the International Union of Painters and Allied Trades(IUPAT)</br></br> If a reciprocity agreement is in place with an IUPAT affiliated Trust Fund and you work in that jurisdiction, you can arrange to have your hours transferred back to this Trust Fund</p>

                <a href="\Docs\HealthPlan\Request-for-Transfer-of-Hours-and-Contributions-831-.pdf" class="btn btn-primary btn-block">Request to Transfer Hours</a>

            </article>
        </div>
        <div class="cell-xs-6 cell-md-4 ">
            <article class="icon-box-vertical icon-box-vertical-sm">
                <h5><a href="\Members\HealthForms">Participant Forms</a></h5>
                <p>Important forms and documentation to meet all your needs from enrollment to a simple change of address</p>
            </article>

        </div>
        <div class="cell-xs-6 cell-md-4">
            <article class="icon-box-vertical icon-box-vertical-sm">
                <h5><a href="\Members\HealthReference">Reference Materials</a></h5>
                <p>Important documentation all about your plan and other information.</p>
            </article>

        </div>
        <div class="cell-xs-6 cell-md-4">
            <article class="icon-box-vertical icon-box-vertical-sm">
                <h5><a href="\Members\ParticipantPortal">Participant Portal</a></h5>
                <p><b>Coming Soon</b> Need access to claims, hours, pension information and more? click on the link above!</p>
            </article>
        </div>
    </div>
</div>

                </div>
            </div>
          </div>
    </section>
</div>