@using System.Threading.Tasks
@using WebPortal.Web.Public.Startup
@using CultureHelper = WebPortal.Localization.CultureHelper
@{
    ViewBag.CurrentPageName = FrontEndPageNames.HealthReference;
}
@section Styles
{

}
@section Scripts
{

}
<div class="noticeTitle">
    <div class="container">
        <h3 style="color:#fff;"><b>Health Plan</b></h3>
        <p>Reference Materials</p>
    </div>
</div>
<div class="row">
    <section class="section-top-40 section-bottom-66 section-sm-top-87 section-sm-bottom-95">

        <div class="shell">
            <div class="range range-sm-center range-md-left">
                <div class="cell-sm-6 cell-md-4 " style="margin-bottom:15px;">
                    <article class="post-modern" style="border: 1px solid #0f73bc;">
                        <div class="post-header">
                            <h5><a href="\Docs\HealthPlan\2017-Reference-Guide.pdf" target="_blank">Reference Guide</a></h5>
                        </div>
                        <div class="post-body">
                            <div class="post-inset">
                                <p>Reference Guide to Your Health PlanEffective January 1, 2017</p>
                            </div>
                        </div>
                        <div class="post-footer" style="background-color:#0f73bc;">
                            <div class="post-meta">
                                <ul class="post-list">

                                    <li class="object-inline">
                                        <span class="icon icon-xxs icon-gray-base material-icons-library_books" style="color:#fff;"></span>
                                        <ul class="list-tags-inline">
                                            <li style="color:#fff;"><a href="\Docs\HealthPlan\2017-Reference-Guide.pdf" target="_blank">Full Document</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </article>
                </div>

                <div class="cell-sm-6 cell-md-4 offset-top-30 offset-md-top-0" style="margin-bottom:15px;">
                    <article class="post-modern" style="border: 1px solid #0f73bc;">
                        <div class="post-header">
                            <h5><a href="\Docs\HealthPlan\2017-Summary-of-Benefits-and-Coverage-Indemnity-Plan-Level-1.pdf" target="_blank">Indemnity Plan Level 1</a></h5>
                        </div>
                        <div class="post-body">
                            <div class="post-inset">
                                <p>2017 Summary of Benefits and Coverage</br></br></p>
                            </div>
                        </div>
                        <div class="post-footer" style="background-color:#0f73bc;">
                            <div class="post-meta">
                                <ul class="post-list">

                                    <li class="object-inline">
                                        <span class="icon icon-xxs icon-gray-base material-icons-library_books" style="color:#fff;"></span>
                                        <ul class="list-tags-inline">
                                            <li style="color:#fff;"><a href="\Docs\HealthPlan\2017-Summary-of-Benefits-and-Coverage-Indemnity-Plan-Level-1.pdf" target="_blank">Full Document</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </article>
                </div>

                <div class="cell-sm-6 cell-md-4 offset-top-30 offset-md-top-0" style="margin-bottom:15px;">
                    <article class="post-modern" style="border: 1px solid #0f73bc;">
                        <div class="post-header">
                            <h5><a href="\Docs\HealthPlan\2017-Summary-of-Benefits-and-Coverage-Indemnity-Plan-Level-2.pdf" target="_blank">Indemnity Plan Level 2</a></h5>
                        </div>
                        <div class="post-body">
                            <div class="post-inset">
                                <p>2017 Summary of Benefits and Coverage</br></br></p>
                            </div>
                        </div>
                        <div class="post-footer" style="background-color:#0f73bc;">
                            <div class="post-meta">
                                <ul class="post-list">

                                    <li class="object-inline">
                                        <span class="icon icon-xxs icon-gray-base material-icons-library_books" style="color:#fff;"></span>
                                        <ul class="list-tags-inline">
                                            <li style="color:#fff;"><a href="\Docs\HealthPlan\2017-Summary-of-Benefits-and-Coverage-Indemnity-Plan-Level-2.pdf" target="_blank">Full Document</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </article>
                </div>

                <div class="cell-sm-6 cell-md-4 offset-top-30 offset-md-top-0" style="margin-bottom:15px;">
                    <article class="post-modern" style="border: 1px solid #0f73bc;">
                        <div class="post-header">
                            <h5><a href="\Docs\HealthPlan\2017-Summary-of-Benefits-and-Coverage-Indemnity-Plan-Level- 3.pdf" target="_blank">Indemnity Plan Level 3</a></h5>
                        </div>
                        <div class="post-body">
                            <div class="post-inset">
                                <p>2017 Summary of Benefits and Coverage</br></br></p>
                            </div>
                        </div>
                        <div class="post-footer" style="background-color:#0f73bc;">
                            <div class="post-meta">
                                <ul class="post-list">

                                    <li class="object-inline">
                                        <span class="icon icon-xxs icon-gray-base material-icons-library_books" style="color:#fff;"></span>
                                        <ul class="list-tags-inline">
                                            <li style="color:#fff;"><a href="\Docs\HealthPlan\2017-Summary-of-Benefits-and-Coverage-Indemnity-Plan-Level- 3.pdf" target="_blank">Full Document</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </article>
                </div>

                <div class="cell-sm-6 cell-md-4 offset-top-30 offset-md-top-0" style="margin-bottom:15px;">
                    <article class="post-modern" style="border: 1px solid #0f73bc;">
                        <div class="post-header">
                            <h5><a href="\Docs\HealthPlan\2017-Summary-of-Benefits-and-Coverage-Indemnity-Plan-Level-4.pdf" target="_blank">Indemnity Plan Level 4</a></h5>
                        </div>
                        <div class="post-body">
                            <div class="post-inset">
                                <p>2017 Summary of Benefits and Coverage</br></br></p>
                            </div>
                        </div>
                        <div class="post-footer" style="background-color:#0f73bc;">
                            <div class="post-meta">
                                <ul class="post-list">

                                    <li class="object-inline">
                                        <span class="icon icon-xxs icon-gray-base material-icons-library_books" style="color:#fff;"></span>
                                        <ul class="list-tags-inline">
                                            <li style="color:#fff;"><a href="\Docs\HealthPlan\2017-Summary-of-Benefits-and-Coverage-Indemnity-Plan-Level-4.pdf" target="_blank">Full Document</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </article>
                </div>

                <div class="cell-sm-6 cell-md-4 offset-top-30 offset-md-top-0" style="margin-bottom:15px;">
                    <article class="post-modern" style="border: 1px solid #0f73bc;">
                        <div class="post-header">
                            <h5><a href="\Docs\HealthPlan\2017-Summary-of-Benefits-and-Coverage-Kaiser-Permanente-Contracts-1-L1-3.pdf" target="_blank">Kaiser Permanente Contract 1</a></h5>
                        </div>
                        <div class="post-body">
                            <div class="post-inset">
                                <p>2017 Summary of Benefits and Coverage</br></br></p>
                            </div>
                        </div>
                        <div class="post-footer" style="background-color:#0f73bc;">
                            <div class="post-meta">
                                <ul class="post-list">

                                    <li class="object-inline">
                                        <span class="icon icon-xxs icon-gray-base material-icons-library_books" style="color:#fff;"></span>
                                        <ul class="list-tags-inline">
                                            <li style="color:#fff;"><a href="\Docs\HealthPlan\2017-Summary-of-Benefits-and-Coverage-Kaiser-Permanente-Contracts-1-L1-3.pdf" target="_blank">Full Document</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </article>
                </div>

                <div class="cell-sm-6 cell-md-4 offset-top-30 offset-md-top-0" style="margin-bottom:15px;">
                    <article class="post-modern" style="border: 1px solid #0f73bc;">
                        <div class="post-header">
                            <h5><a href="\Docs\HealthPlan\2017-Summary-of-Benefits-and-Coverage-Kaiser-Permanente-Contract-3.pdf" target="_blank">Kaiser Permanente Contracts 3</a></h5>
                        </div>
                        <div class="post-body">
                            <div class="post-inset">
                                <p>2017 Summary of Benefits and Coverage</p>
                            </div>
                        </div>
                        <div class="post-footer" style="background-color:#0f73bc;">
                            <div class="post-meta">
                                <ul class="post-list">

                                    <li class="object-inline">
                                        <span class="icon icon-xxs icon-gray-base material-icons-library_books" style="color:#fff;"></span>
                                        <ul class="list-tags-inline">
                                            <li style="color:#fff;"><a href="\Docs\HealthPlan\2017-Summary-of-Benefits-and-Coverage-Kaiser-Permanente-Contract-3.pdf" target="_blank">Full Document</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </article>
                </div>

                <div class="cell-sm-6 cell-md-4 offset-top-30 offset-md-top-0" style="margin-bottom:15px;">
                    <article class="post-modern" style="border: 1px solid #0f73bc;">
                        <div class="post-header">
                            <h5><a href="\Docs\HealthPlan\Health-Plan-SPD-Rev-July-1-2015.pdf" target="_blank">Summary Plan Description</a></h5>
                        </div>
                        <div class="post-body">
                            <div class="post-inset">
                                <p>Health Plan SPD Rev.  July 1, 2015</br></br></p>
                            </div>
                        </div>
                        <div class="post-footer" style="background-color:#0f73bc;">
                            <div class="post-meta">
                                <ul class="post-list">

                                    <li class="object-inline">
                                        <span class="icon icon-xxs icon-gray-base material-icons-library_books" style="color:#fff;"></span>
                                        <ul class="list-tags-inline">
                                            <li style="color:#fff;"><a href="\Docs\HealthPlan\Health-Plan-SPD-Rev-July-1-2015.pdf" target="_blank" ">Full Document</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </article>
                </div>

            </div>
        </div>
    </section>
</div>
