@using System.Threading.Tasks
@using WebPortal.Web.Public.Startup
@using CultureHelper = WebPortal.Localization.CultureHelper
@{
    ViewBag.CurrentPageName = FrontEndPageNames.Notices;
}
@section Styles
{

}
@section Scripts
{

}

<section style="background-image: url(/assets/images/participant-portal.jpg);" class="section-30 section-sm-40 section-md-66 section-lg-bottom-90 bg-gray-dark page-title-wrap">
    <div class="shell">
        <div class="page-title">

        </div>
    </div>
</section>
<div class="noticeTitle">
    <div class="container">
        <h3 style="color:#fff;"><b>Participant Portal</b></h3>
        <p>Coming Soon</p>
    </div>
</div>

<div class="range range-md-reverse range-md-bottom range-md-right" style="padding:50px 0px">
    <div class="cell-sm-12 cell-md-7 cell-lg-4">

        <div class="windowRight" style="padding:30px;">
            <h5 class="windowStyleHeading">Claims Status</h5>
            <p class="windowStyleP">
                Access claims status, payments, and more.</br></br></br>
                <div class="rd-navbar-btn-wrap"><a href="#" class="btn btn-smaller btn-primary-outline">Coming Soon</a></div>
                </br>
            </p>
        </div>

    </div>
    <div class="cell-sm-12 cell-md-7 cell-lg-4">

        <div class="windowRight" style="padding:30px;">
            <h5 class="windowStyleHeading">Access Pension, Vacation and Eligibility</h5>
            <p class="windowStyleP">
                Access pension records, vacation hours, eligibility and more</br></br></br>
                <div class="rd-navbar-btn-wrap"><a href="#" class="btn btn-smaller btn-primary-outline">Coming Soon</a></div>
                </br>
            </p>
        </div>

    </div>
    <div class="cell-sm-12 cell-md-7 cell-lg-4">

        <div class="windowRight" style="padding:30px;">
            <h5 class="windowStyleHeading">Make a Payment</h5>
            <p class="windowStyleP">
                Pay for cobra and more</br></br></br>
                <div class="rd-navbar-btn-wrap"><a href="#" class="btn btn-smaller btn-primary-outline">Coming Soon</a></div>
                </br>
            </p>
        </div>

    </div>
</div>





