@using System.Threading.Tasks
@using WebPortal.Web.Public.Startup
@using CultureHelper = WebPortal.Localization.CultureHelper
@{
    ViewBag.CurrentPageName = FrontEndPageNames.Pension;
}
@section Styles
{

}
@section Scripts
{

}
<section style="background-image: url(/assets/images/pension-benefit.jpg);" class="section-30 section-sm-40 section-md-66 section-lg-bottom-90 bg-gray-dark page-title-wrap">
    <div class="shell">
        <div class="page-title">
            <h2>Pension Benefit</h2>
        </div>
    </div>
</section>
<div class="noticeTitle">
    <div class="container">
        <h3 style="color:#fff;"><b>Local 831</b></h3>
        <p>Employer Pension Plan Benefits</p>
    </div>
</div>
<div class="row">
    <section class="section-top-30 section-bottom-66 section-sm-bottom-95">
        <div class="shell">

            <div class="range range-sm-center">
                <div class="cell-sm-3" style="border-right: 1px solid #e4e4e4;">
                    <h5 style="color:#00698c"><b>Quick Links to Retirement..</b></h5>
                    <ul class="pensionL">
                        <li><a href="\Docs\Pension\QP-APPLICATION-FOR-RETIREMENT.pdf" target="_blank" />Pension Application Packet</a></li>
                        <li><a href="\Docs\Pension\QP-Retiree-Benefit-Selection-Form.pdf" target="_blank" />Retirement Benefit Selection Form</a></li>
                    </ul>
                    <h5 style="color:#00698c"><b>Helpful Links to...</b></h5>
                    <ul class="pensionL">
                        <li><a href="\Docs\Pension\Pension-Information-Request-Form.pdf" target="_blank" />Pension Information Request Form</a></li>
                        <li><a href="\Docs\Pension\Pension-Benefit-Direct-Deposit-Debt-Authorization-Form.pdf" target="_blank" />Direct Deposit Authorization Form</a></li>

                    </ul>
                </div>
                <div class="cell-sm-7">
                    <iframe width="100%" height="60%" src="https://www.youtube.com/embed/7CYBBzsla5s?modestbranding=1&amp;rel=0" frameborder="0" allowfullscreen></iframe>
                    <div class="range">
                        <div class="cell-xs-6 cell-md-4 ">
                            <article class="icon-box-vertical icon-box-vertical-sm">
                                <h5><a href="/Members/PensionForms">Participant Forms</a></h5>
                                <p>Important forms and documentation to meet all your needs from enrollment to a simple change of address</p>
                            </article>

                        </div>
                        <div class="cell-xs-6 cell-md-4">
                            <article class="icon-box-vertical icon-box-vertical-sm">
                                <h5><a href="/Members/PensionReference">Reference Materials</a></h5>
                                <p>Important documentation all about your plan and other information.</p>
                            </article>

                        </div>
                        <div class="cell-xs-6 cell-md-4">
                            <article class="icon-box-vertical icon-box-vertical-sm">
                                <h5><a href="/Members/PensionFaqs">Frequently Asked Questions</a></h5>
                                <p>Questions and answers regarding the pension plan.</p>
                            </article>
                        </div>
                    </div>
                </div>




            </div>
        </div>
    </section>

</div>
