@using System.Threading.Tasks
@using WebPortal.Web.Public.Startup
@using CultureHelper = WebPortal.Localization.CultureHelper
@{
    ViewBag.CurrentPageName = FrontEndPageNames.PensionForms;
}
@section Styles
{

}
@section Scripts
{

}
<div class="container">
    <div class="page-header">
        <h5>Pension Forms</h5>
    </div>
</div>
<div class="row">
    <section class="section-top-40 section-bottom-66 section-sm-top-87 section-sm-bottom-95">
        <div class="shell">
            <div class="range range-sm-center text-center">
                <div class="cell-sm-10">
                    <h3>Forms</h3>
                    <p class="big"></p>
                </div>
            </div>
    </section>
</div>
<div class="shell">
    <div class="range range-sm-center range-md-left">
        <div class="cell-sm-6 cell-md-4 offset-top-30 offset-md-top-0" style="margin-bottom:15px;">
            <article class="post-modern" style="border: 1px solid #0f73bc;">
                <div class="post-header">
                    <h5><a href="\Docs\Pension\Address-Change-Form-Pension.pdf" target="_blank">Address Change Form</a></h5>
                </div>
                <div class="post-body">
                    <div class="post-inset">
                        <p>Employer Health Trust Fund / Employer Pension Form</br></br></p>
                    </div>
                </div>
                <div class="post-footer" style="background-color:#0f73bc;">
                    <div class="post-meta">
                        <ul class="post-list">

                            <li class="object-inline">
                                <span class="icon icon-xxs icon-gray-base material-icons-library_books" style="color:#fff;"></span>
                                <ul class="list-tags-inline">
                                    <li style="color:#fff;"><a href="\Docs\Pension\Address-Change-Form-Pension.pdf" target="_blank">Full Document</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </article>
        </div>

        <div class="cell-sm-6 cell-md-4 offset-top-30 offset-md-top-0" style="margin-bottom:15px;">
            <article class="post-modern" style="border: 1px solid #0f73bc;">
                <div class="post-header">
                    <h5><a href="\Docs\Pension\EDD-Form-ED-4P-Withholding-Certificate-for-Pension-or-Annuity-Payments-01-2017.pdf" target="_blank">EDD Form ED 4P</a></h5>
                </div>
                <div class="post-body">
                    <div class="post-inset">
                        <p>Withholding Certificate for Pension or Annuity Payments</br></br></p>
                    </div>
                </div>
                <div class="post-footer" style="background-color:#0f73bc;">
                    <div class="post-meta">
                        <ul class="post-list">

                            <li class="object-inline">
                                <span class="icon icon-xxs icon-gray-base material-icons-library_books" style="color:#fff;"></span>
                                <ul class="list-tags-inline">
                                    <li style="color:#fff;"><a href="\Docs\Pension\EDD-Form-ED-4P-Withholding-Certificate-for-Pension-or-Annuity-Payments-01-2017.pdf" target="_blank">Full Document</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </article>
        </div>

        <div class="cell-sm-6 cell-md-4 offset-top-30 offset-md-top-0" style="margin-bottom:15px;">
            <article class="post-modern" style="border: 1px solid #0f73bc;">
                <div class="post-header">
                    <h5><a href="\Docs\Pension\IRS-Form-W-9-Request-for-Taxpayer-Identification-Number-and-Certification.pdf" target="_blank">IRS Form W-9</a></h5>
                </div>
                <div class="post-body">
                    <div class="post-inset">
                        <p>IRS Form W-9-Request for Taxpayer Identification Number and Certification</br></br></p>
                    </div>
                </div>
                <div class="post-footer" style="background-color:#0f73bc;">
                    <div class="post-meta">
                        <ul class="post-list">

                            <li class="object-inline">
                                <span class="icon icon-xxs icon-gray-base material-icons-library_books" style="color:#fff;"></span>
                                <ul class="list-tags-inline">
                                    <li style="color:#fff;"><a href="\Docs\Pension\IRS-Form-W-9-Request-for-Taxpayer-Identification-Number-and-Certification.pdf" target="_blank">Full Document</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </article>
        </div>

        <div class="cell-sm-6 cell-md-4 offset-top-30 offset-md-top-0" style="margin-bottom:15px;">
            <article class="post-modern" style="border: 1px solid #0f73bc;">
                <div class="post-header">
                    <h5><a href="\Docs\Pension\IRS-Form-W-4P-Withholding-Certificate-for-Pension-or-Annuity-Payments.pdf" target="_blank">IRS Form W-4P</a></h5>
                </div>
                <div class="post-body">
                    <div class="post-inset">
                        <p>Withholding Certificate for Pension or Annuity Payments</br></br></p>
                    </div>
                </div>
                <div class="post-footer" style="background-color:#0f73bc;">
                    <div class="post-meta">
                        <ul class="post-list">

                            <li class="object-inline">
                                <span class="icon icon-xxs icon-gray-base material-icons-library_books" style="color:#fff;"></span>
                                <ul class="list-tags-inline">
                                    <li style="color:#fff;"><a href="\Docs\Pension\IRS-Form-W-4P-Withholding-Certificate-for-Pension-or-Annuity-Payments.pdf" target="_blank">Full Document</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </article>
        </div>

        <div class="cell-sm-6 cell-md-4 offset-top-30 offset-md-top-0" style="margin-bottom:15px;">
            <article class="post-modern" style="border: 1px solid #0f73bc;">
                <div class="post-header">
                    <h5><a href="\Docs\Pension\Local-831-Employer-Trust Funds-Pension-Beneficiary-Card.pdf" target="_blank">Pension Beneficiary Card</a></h5>
                </div>
                <div class="post-body">
                    <div class="post-inset">
                        <p>Local 831 Employer Trust Funds Pension Beneficiary Card</br></br></p>
                    </div>
                </div>
                <div class="post-footer" style="background-color:#0f73bc;">
                    <div class="post-meta">
                        <ul class="post-list">

                            <li class="object-inline">
                                <span class="icon icon-xxs icon-gray-base material-icons-library_books" style="color:#fff;"></span>
                                <ul class="list-tags-inline">
                                    <li style="color:#fff;"><a href="\Docs\Pension\Local-831-Employer-Trust Funds-Pension-Beneficiary-Card.pdf" target="_blank">Full Document</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </article>
        </div>



        <div class="cell-sm-6 cell-md-4 offset-top-30 offset-md-top-0" style="margin-bottom:15px;">
            <article class="post-modern" style="border: 1px solid #0f73bc;">
                <div class="post-header">
                    <h5><a href="\Docs\Pension\Pension-Information-Request-Form.pdf" target="_blank">Pension Information Request Form</a></h5>
                </div>
                <div class="post-body">
                    <div class="post-inset">
                        <p>Pension Information Request Form</br></br></p>
                    </div>
                </div>
                <div class="post-footer" style="background-color:#0f73bc;">
                    <div class="post-meta">
                        <ul class="post-list">

                            <li class="object-inline">
                                <span class="icon icon-xxs icon-gray-base material-icons-library_books" style="color:#fff;"></span>
                                <ul class="list-tags-inline">
                                    <li style="color:#fff;"><a href="\Docs\Pension\Pension-Information-Request-Form.pdf" target="_blank">Full Document</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </article>
        </div>

        <div class="cell-sm-6 cell-md-4 offset-top-30 offset-md-top-0" style="margin-bottom:15px;">
            <article class="post-modern" style="border: 1px solid #0f73bc;">
                <div class="post-header">
                    <h5><a href="\Docs\Pension\QP-APPLICATION-FOR-RETIREMENT.pdf" target="_blank">Application for Retirement</a></h5>
                </div>
                <div class="post-body">
                    <div class="post-inset">
                        <p>QP Application for Retirement</br></br></p>
                    </div>
                </div>
                <div class="post-footer" style="background-color:#0f73bc;">
                    <div class="post-meta">
                        <ul class="post-list">

                            <li class="object-inline">
                                <span class="icon icon-xxs icon-gray-base material-icons-library_books" style="color:#fff;"></span>
                                <ul class="list-tags-inline">
                                    <li style="color:#fff;"><a href="\Docs\Pension\QP-APPLICATION-FOR-RETIREMENT.pdf" target="_blank">Full Document</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </article>
        </div>

        <div class="cell-sm-6 cell-md-4 offset-top-30 offset-md-top-0" style="margin-bottom:15px;">
            <article class="post-modern" style="border: 1px solid #0f73bc;">
                <div class="post-header">
                    <h5><a href="\Docs\Pension\QP-Retiree-Benefit-Selection-Form.pdf" target="_blank">Retiree Benefit Selection Form</a></h5>
                </div>
                <div class="post-body">
                    <div class="post-inset">
                        <p>QP Retiree Benefit Selection Form</br></br></p>
                    </div>
                </div>
                <div class="post-footer" style="background-color:#0f73bc;">
                    <div class="post-meta">
                        <ul class="post-list">

                            <li class="object-inline">
                                <span class="icon icon-xxs icon-gray-base material-icons-library_books" style="color:#fff;"></span>
                                <ul class="list-tags-inline">
                                    <li style="color:#fff;"><a href="\Docs\Pension\QP-Retiree-Benefit-Selection-Form.pdf" target="_blank">Full Document</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </article>
        </div>
        <div class="cell-sm-6 cell-md-4 offset-top-30 offset-md-top-0" style="margin-bottom:15px;">
            <article class="post-modern" style="border: 1px solid #0f73bc;">
                <div class="post-header">
                    <h5><a href="\Docs\Pension\Pension-Benefit-Direct-Deposit-Debt-Authorization-Form.pdf" target="_blank">Direct Deposit Authorization Form</a></h5>
                </div>
                <div class="post-body">
                    <div class="post-inset">
                        <p>Pension Benefit Direct Deposit Authorization Form</br></br></p>
                    </div>
                </div>
                <div class="post-footer" style="background-color:#0f73bc;">
                    <div class="post-meta">
                        <ul class="post-list">

                            <li class="object-inline">
                                <span class="icon icon-xxs icon-gray-base material-icons-library_books" style="color:#fff;"></span>
                                <ul class="list-tags-inline">
                                    <li style="color:#fff;"><a href="\Docs\Pension\Pension-Benefit-Direct-Deposit-Debt-Authorization-Form.pdf" target="_blank">Full Document</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </article>
        </div>

    </div>
</div>




