<div id="sb-temp">
    <h1>Plan at a Glance | </h1>
    <h3>Calendar Year Benefits</h3>
    <!-- Health Care Coverage-->
    <div class="portlet box green">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-cogs"></i>Health Care Coverage Summary
            </div>
            <div class="tools">
                <a href="javascript:;" class="collapse"> </a>
            </div>
        </div>
        <div class="portlet-body flip-scroll" style="display:block">
            <table class="table table-bordered table-striped table-condensed flip-content">
                <tbody>

                    <tr>
                        <td><b>Description</b></td>
                        <td><b>In-Network Coverage</b></td>
                        <td><b>Out-of-Network Coverage</b></td>
                        <td><b>Comments</b></td>

                    </tr>
                    <tr>
                        <td><b>Lifetime Maximum</b></td>
                        <td>None</td>
                        <td>None</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><b>Annual Deductible</b></td>
                        <td>$0</td>
                        <td>$0</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><b>Out-of-Pocket Maximum</b></td>
                        <td>$2,800 per person<br />$8,400 per family</td>
                        <td>$2,800 per person<br />$8,400 per family</td>
                        <td>Does not include benefit reduction resulting from failure to pre-certify</td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- Surgical Benefits End-->
    <!--Hospital Facility Coverage Beging-->
    <div class="portlet box green">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-cogs"></i>Hospital/ Facility Coverage - 10% benefit reduction will apply if a review is required and not requested or obtained.
            </div>
            <div class="tools">
                <a href="javascript:;" class="expand"> </a>
            </div>
        </div>
        <div class="portlet-body flip-scroll" style="display:none">
            <table class="table table-bordered table-striped table-condensed flip-content">
                <tbody>

                    <tr>
                        <td><b>Description</b></td>
                        <td><b>In-Network Coverage</b></td>
                        <td><b>Out-of-Network Coverage</b></td>
                        <td><b>Comments</b></td>

                    </tr>
                    <tr>
                        <td><b>Hospital Inpatient</b></td>
                        <td>100% of eligible charges</td>
                        <td>80% of eligible charges</td>
                        <td>Maximum of 365 days per Calendar Year.</td>
                    </tr>
                    <tr>
                        <td><b>Ancillary Services</b></td>
                        <td>100% of eligible charges</td>
                        <td>80% of eligible charges</td>
                        <td>Hospital Inpatient Ancillary Services are included in an all-inclusive hospital charges.</td>
                    </tr>
                    <tr>
                        <td><b>Skilled Nursing Facility</b><br />(Precertification required every 30 days)</td>
                        <td>90% of eligible charges</td>
                        <td>80% of eligible charges</td>
                        <td><b>Must be Registered-Bed Patient.</b> Maximum of 120 days of confinement per Calendar Year. <b>If more than 30 days, the attending Physician must submit an evaluation report at the end of each such 30-day period of confinement.</b></td>

                    </tr>
                    <tr>
                        <td><b>Hospice</b><br /></td>
                        <td>100% of eligible charges</td>
                        <td>Not covered</td>
                        <td>Up to a maximum of 150 days. Covered only for terminal illness and with a life expectancy of six(6) months or less. If hospice care is discontinued before the 150-days hospice benefit period, any remaining days of the 150 days will be lost and will not be available for future use.</td>
                    </tr>
                    <tr>
                        <td><b>Home Health Care</b><br /></td>
                        <td>100% of eligible charges</td>
                        <td>80% of eligible charges</td>
                        <td>Up to a maximum of 150 home health care visits per Calendar Year.</td>
                    </tr>
                    <tr>
                        <td><b>In Vitro Fertilization</b>(IVF)</td>
                        <td>100% of eligible charges<br /> 90% of eligible charges<br />(Physicians services)</td>
                        <td>80% of eligible charges</td>
                        <td>Limited to one(1) procedure per lifetime.<br /> <b>Benefit limited to member and spouse.</b></td>
                    </tr>
                    <tr>
                        <td><b>Nurse-Midwife</b></td>
                        <td>100% of eligible charges</td>
                        <td>80% of eligible charges</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><b>Birthing Center</b></td>
                        <td>100% of eligible charges</td>
                        <td>80% of eligible charges</td>
                        <td>In lieu of payment for inpatient Hospital services</td>
                    </tr>
                    <tr>
                        <td><b>Diagnostic and Theraphy</b></td>
                        <td>100% of eligible charges</td>
                        <td>80% of eligible charges</td>
                        <td><b>Diagnostic and Therapy</b>(Laboratory services and diagnostic test; X-ray films ordered within 48 hours following an injury; Ohter x-ray films; Radiotheraphy for malignant codition)</td>
                    </tr>
                    <tr>
                        <td><b>Radiotheraphy</b><br />(Used in treatment of nonmalignant condition)</td>
                        <td>90% of eligible charges</td>
                        <td>80% of eligible charges</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><b>Chemotheraphy Angents</b>(Used in treatment)</td>
                        <td>100% of eligible charges</td>
                        <td>80% of eligible charges</td>
                        <td>In lieu of payment for inpatient Hospital services</td>
                    </tr>
                    <tr>
                        <td><b>Birthing Center</b></td>
                        <td>100% of eligible charges</td>
                        <td>80% of eligible charges</td>
                        <td>In lieu of payment for inpatient Hospital services</td>
                    </tr>
                    <tr>
                        <td><b>Non-Emergency Inter-Island Travel Reimbursement</b></td>
                        <td></td>
                        <td></td>
                        <td>For beneficiaries who reside in the State of Hawaii but do not reside on the island of Oahu.<br /><b>Air Travel</b>- up to $200<br /><b>Taxi Fare</b>- to and from airport up to $50.00<br /><b>Travel expenses for one accompanying parent or guardian</b> up to the benefit limitation if Beneficiary seeking inter-island travel benefits is a minor Child under age 18.</td>
                    </tr>
                    <tr>
                        <td><b>Birthing Center</b></td>
                        <td>100% of eligible charges</td>
                        <td>80% of eligible charges</td>
                        <td>In lieu of payment for inpatient Hospital services</td>
                    </tr>
                </tbody>
            </table>
            <h5>*Injury means an inury which results from an external force(suck as a blow, collision, or impact) and which is of sufficient magnitude to require the services of a Physician withing 48 hours.</h5>
        </div>
    </div>
    <!--Hospital Facility Coverage End-->
    <!-- Surgical Benefits Begin-->
    <div class="portlet box green">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-cogs"></i>Surgical Coverage
            </div>
            <div class="tools">
                <a href="javascript:;" class="expand"> </a>
            </div>
        </div>
        <div class="portlet-body flip-scroll" style="display:none">
            <table class="table table-bordered table-striped table-condensed flip-content">
                <tbody>

                    <tr>
                        <td><b>Description</b></td>
                        <td><b>In-Network Coverage</b></td>
                        <td><b>Out-of-Network Coverage</b></td>
                        <td><b>Comments</b></td>

                    </tr>
                    <tr>
                        <td><b>Surgical Center</b></td>
                        <td>100% of eligible charges</td>
                        <td>80% of eligible charges</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><b>Sugery</b></td>
                        <td>100% of eligible charges</td>
                        <td>100% of eligible charges</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><b>Transplants</b></td>
                        <td>100% of eligible charges</td>
                        <td>80% of eligible charges</td>
                        <td><b>Covered transplants:</b>Kidney, cornea, bone marrow, liver, heart, heart-lunc and simultaneous kidney-pancreas. All transplants and transplant evaluations must be pre-authorized.</td>

                    </tr>
                    <tr>
                        <td><b>Transplant Donor Services</b><br /></td>
                        <td>80% of eligible charges</td>
                        <td>80% of eligible charges</td>
                        <td>Eligible medical and Hospital cost of donor or services of an organ bank only when a Beneficiary is the recipient. Covered expenses for screening of donors is limited to expenses associated with the actual donor.</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- Surgical Benefits End-->
    <!-- Medical Coverage for Physicians Services Start-->
    <div class="portlet box green">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-cogs"></i>Medical Coverage for Physicians Services
            </div>
            <div class="tools">
                <a href="javascript:;" class="expand"> </a>
            </div>
        </div>
        <div class="portlet-body flip-scroll" style="display:none">
            <table class="table table-bordered table-striped table-condensed flip-content">
                <tbody>

                    <tr>
                        <td><b>Description</b></td>
                        <td><b>In-Network Coverage</b></td>
                        <td><b>Out-of-Network Coverage</b></td>
                        <td><b>Comments</b></td>

                    </tr>
                    <tr>
                        <td><b>Anesthesiology</b></td>
                        <td>90% of eligible charges</td>
                        <td>80% of eligible charges</td>
                        <td>Payable when required by the attending Physician and used instead of the Hospital anesthesia services for a hospitalized patient.</td>
                    </tr>
                    <tr>
                        <td><b>Physician Hospital In patient Visits</b></td>
                        <td>90% of eligible charges</td>
                        <td>80% of eligible charges</td>
                        <td>One (1) visit per day by the attending Physician to a Beneficiary who is a registered bed patient and One (1) specialty consultation visit per day.</td>
                    </tr>
                    <tr>
                        <td><b>Physician Mental Health Visits Inpatient Hospital</b></td>
                        <td>90% of eligible charges</td>
                        <td>80% of eligible charges</td>
                        <td>Up to one (1) visit per day while hospitalized in the Hospital or Qualified Treatment Facility. Covered providers are Physicians, Psychiatrist, Psychologist, Clinical Social Worker, Licensed Mental Health Counselor, Marriage and Family Therapist or Advanced Practice Registered Nurse.</td>

                    </tr>
                    <tr>
                        <td><b>Physician Office Visits</b>(includes stand-alone clinics, urgent care, preventive, routine, GYN exam, emergency room physician)</td>
                        <td>90% of eligible charges</td>
                        <td>800% of eligible charges</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><b>Second Opinion(Must bepre-authorized.)</b></td>
                        <td>100% of eligible charges</td>
                        <td>80% of eligible charges</td>
                        <td><b>Must be pre-authorized</b>A second opinion must be arranged for the following procedures if approved:<br />&nbsp;&nbsp;&nbsp;Inpatient Cholecystectomy (gall bladder surgery)<br />&nbsp;&nbsp;&nbsp;Varicose Vein Surgery<br />&nbsp;&nbsp;&nbsp;Blepharoplasty(eyelid surgery)<br />&nbsp;&nbsp;&nbsp;Scar Revision SurgeryBlepharoplasty (eyelid surgery)<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Scar Revision Surgery</td>
                    </tr>
                    <tr>
                        <td><b>Dialysis and Supplies</b></td>
                        <td>80% of eligible charge</td>
                        <td>80% of eligible charges</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><b>Well-Baby Care Visits</b></td>
                        <td>90% of eligible charges</td>
                        <td>80% of eligible charges</td>
                        <td>Eight (8) routine well-baby visits during the first two (2) years of a Child's life, and one (1) visit each during age two (2), age three (3), age four (4), and age five (5).</td>
                    </tr>
                    <tr>
                        <td><b>Physical Examination</b><br />(Not covered under retiree plan)</td>
                        <td>100% of eligible charges</td>
                        <td>100% of eligible charges</td>
                        <td><b>Not Covered under Retiree Plan</b><br />One Physical exam and recommended screening tests per Calendar Year for Dependent children ages six (6) through eighteen (18) years.</td>
                    </tr>
                    <tr>
                        <td><b>Well-Woman Exam</b><br />(Not covered under retiree plan)</td>
                        <td>90% of eligible charges</td>
                        <td>80% of eligible charges</td>
                        <td><b>Not Covered under Retiree Plan One</b><br /> (1) gynecological examination per Calendar Year. Includes a pelvic examination, collection of a specimen for Pap Smear screening, and a clinical breast examination.</td>
                    </tr>
                    <tr>
                        <td><b>Immunizations</b><br /></td>
                        <td>90% of eligible charges</td>
                        <td>80% of eligible charges</td>
                        <td>
                            Well-baby immunizations and immunizations, in connection with the following: cholera, diphtheria, hepatitis, influenza, measles, mumps, rubella, whooping cough, polio, smallpox, tetanus, typhoid, typhus, and chicken pox, and streptococcus pneumoniae.<br /><br /> Human Papilloma Virus Quadrivalent Vaccine is covered when the first dose is administered to a male or female, age 11 to age 12, with the second or third dose administered prior to age 13 years. Should the third dose be administered at age 13 or later, the third dose will be covered at 50% of Eligible Charges For males or females, age 13 through age 25, the Human Papilloma Virus (HPV) quadrivalent vaccine is covered at 50% of Eligible Charges for services of a Participating or Non-Participating Provider when the first dose is administered to a male or female, age 13 through age 25, with the second and third dose administered prior to age 26. Under all other circumstances, this immunization will not be eligible for coverage under the Plan.<br /> <br /> The Meningococcal vaccine is covered for individuals from the age 11. Those younger than age 11, who are at increased risk due to immune compromise or other disorders, will require prior authorization. <br /><br />The Rotavirus vaccines is covered under the Plan when the first dose is administered to an infant age 12 weeks and the remaining two (2) doses of the vaccine is administrated by age 32 weeks.
                        </td>
                    </tr>
                    <tr>
                        <td><b>Tuberculin Tine Test</b></td>
                        <td>100% of eligible charges</td>
                        <td>80% of eligible charges</td>
                        <td>Limited to one (1) per Calendar Year</td>
                    </tr>
                    <tr>
                        <td><b>Prostate Specific Antigen Test</b></td>
                        <td>100% of eligible charges</td>
                        <td>80% of eligible charges</td>
                        <td>Limited to one (1) per Calendar Year. Limited to men age 50 or older. </td>
                    </tr>
                    <tr>
                        <td><b>Mammography</b></td>
                        <td>100% of eligible charges</td>
                        <td>80% of eligible charges </td>
                        <td>Screening by low-dose mammography is limited to one (1) baseline mammogram during age 35 through age 39, and one (1) mammogram every twelve (12) months for women age 40 and above.</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- Medical Coverage for Physicians Services End-->
    <!-- Major Medical Coverage Begin-->
    <div class="portlet box green">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-cogs"></i>Major Medical Coverage
            </div>
            <div class="tools">
                <a href="javascript:;" class="expand"> </a>
            </div>
        </div>
        <div class="portlet-body flip-scroll" style="display:none">
            <table class="table table-bordered table-striped table-condensed flip-content">
                <tbody>

                    <tr>
                        <td><b>Description</b></td>
                        <td><b>In-Network Coverage</b></td>
                        <td><b>Out-of-Network Coverage</b></td>
                        <td><b>Comments</b></td>

                    </tr>
                    <tr>
                        <td><b>Diagnostic Imaging</b><br />(Includes MRI, CT scans, etc.)</td>
                        <td>100% of eligible charges</td>
                        <td>80% of eligible charges</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><b>X-Ray & Lab</b></td>
                        <td>100% of eligible charges</td>
                        <td>100% of eligible charges</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><b>Radiotherapy</b>(used in treatment of <b>malignant</b> condition)</td>
                        <td>100% of eligible charges</td>
                        <td>80% of eligible charges</td>
                        <td></td>

                    </tr>
                    <tr>
                        <td><b>Radiotherapy</b>(used in treatment of <b>nonmalignant</b> condition) </td>
                        <td>90% of eligible charges</td>
                        <td>80% of eligible charges</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><b>Physical Therapy</b></td>
                        <td>80% of eligible charges</td>
                        <td>80% of eligible charges</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><b>Speech Therapy</b>(loss due to an illness or injury)</td>
                        <td>80% of eligible charges</td>
                        <td>80% of eligible charges</td>
                        <td>Developmental learning or delay is not a covered.</td>
                    </tr>
                    <tr>
                        <td><b>Allergy Testing and Treatment</b></td>
                        <td>100% of eligible charges<br />80% of eligible charges<br />(treatment materials) </td>
                        <td>80% of eligible charges</td>
                        <td>Not to exceed one (1) series of tests per Calendar Year</td>
                    </tr>
                    <tr>
                        <td><b>IUD <br /><br /> (Not Covered under retiree plan)</b></td>
                        <td>50% of eligible charges<br /><br /><b>Not covered under retiree plan</b></td>
                        <td>50% of eligible charges<br /><br /><b>Not covered under retiree plan</b></td>
                        <td><b>Not covered under retiree plan</b><br /><br /> Limited to one(1) IUD implant every five(5) Years</td>
                    </tr>
                    <tr>
                        <td><b>Human Growth Hormone Therapy</b></td>
                        <td>90% of eligible charges</td>
                        <td>90% of eligible charges</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><b>Nutrient Solutions (Not Covered under Retiree Plan)</b></td>
                        <td>80% of eligible charges<br /><b>Not covered under retiree plan</b></td>
                        <td>80% of eligible charges<br /> Not covered under retiree plan</td>
                        <td><b>Not Covered under Retiree Plan</b><br /><br /> Covered for Hereditary Metabolic Disorder. Must be required for primary diet and prescribed by a Physician</td>
                    </tr>
                    <tr>
                        <td><b>Injections (services and supplies for the injection or intravenous administration of medication)</b></td>
                        <td>80% of eligible charges<br /><b>Not covered under retiree plan</b></td>
                        <td>80% of eligible charges<br /> Not covered under retiree plan</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><b>Durable Medical Equipment, Prosthetics, & Orthotics</b></td>
                        <td>80% of eligible charges<br /><b>Not covered under retiree plan</b></td>
                        <td>80% of eligible charges<br /> Not covered under retiree plan</td>
                        <td><b>(Includes medical supplies essential to DME. For example, oxygen)</b><br /><br /><b>Includes:</b><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Cardiac pacemaker<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Artificial limbs, eyes, and hips<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;casts, splints, trusses, braces, and crutches<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;oxygen and rental of equipment for its administration<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Rent or purchase of wheelchair and hospital-type bed</td>
                    </tr>
                    <tr>
                        <td><b>Hearing Aids</b></td>
                        <td>80% of eligible charges<br /></td>
                        <td>80% of eligible charges<br /></td>
                        <td>Maximum of one (1) device per ear every five(5)</td>
                    </tr>
                    <tr>
                        <td><b>Ambulance</b></td>
                        <td>80% of eligible charges<br /></td>
                        <td>80% of eligible charges<br /></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><b>Air Ambulance</b></td>
                        <td>80% of eligible charges<br /></td>
                        <td>80% of eligible charges<br /></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><b>Blood</b></td>
                        <td>80% of eligible charges<br /></td>
                        <td>80% of eligible charges<br /></td>
                        <td>Blood, Blood Bank Service Charges, and Blood products (except when donated). Charges for autologous blood (reserved for patient who donated) are excluded.</td>
                    </tr>
                    <tr>
                        <td><b>Outpatient Psychotherapy</b></td>
                        <td>90% of eligible charges<br /></td>
                        <td>80% of eligible charges<br /></td>
                        <td>Covered providers are Physician, Psychiatrist, Psychologist, Clinical Social Worker, Licensed Mental Health Counselor, Marriage and Family Therapist or Advanced Practice Registered Nurse. <br /><br /> <b>Services must be provided under an individual treatment plan.</b></td>
                    </tr>
                    <tr>
                        <td><b>Outpatient Substance Abuse Therapy</b></td>
                        <td>90% of eligible charges<br /></td>
                        <td>80% of eligible charges<br /></td>
                        <td>Covered providers are Physician, Psychiatrist, Psychologist, Clinical Social Worker, Licensed Mental Health Counselor, Marriage and Family Therapist or Advanced Practice Registered Nurse. <br /><br /> <b>Services must be provided under an individual treatment plan.</b></td>
                    </tr>
                    <tr>
                        <td><b>Psychological Testing</b></td>
                        <td>90% of eligible charges<br /></td>
                        <td>80% of eligible charges<br /></td>
                        <td>Hospital benefits apply to coverage for inpatient psychological testing.</td>
                    </tr>




                </tbody>
            </table>
        </div>
    </div>
    <!-- Major Medical Coverage End-->
    <!--Pre Authorization Requirement Begin-->
    <div class="portlet box green">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-cogs"></i>Pre-Authorization Requirement and Utilization Review Program
            </div>
            <div class="tools">
                <a href="javascript:;" class="expand"> </a>
            </div>
        </div>
        <div class="portlet-body flip-scroll col-md-12" style="display:none">
            <div class="col-md-12">
                <p><b>*All inpatient hospital stays and residential treatment center admissions. For emergency or maternity admission, pre-authorization is not required. The claims administrator must be notified within 48 hours of admission.<br />* Transplant services.<br />* Non-emergent services outside the State of Hawaii.<br />* Admissions to a skilled nursing facility.</b></p>
            </div>
            <div class="col-md-6">
                <p><b>* Surgical and Outpatient services:</b><br />&nbsp;&nbsp;&nbsp;MRI<br />&nbsp;&nbsp;&nbsp;MRA<br />&nbsp;&nbsp;&nbsp;PET Scans<br />&nbsp;&nbsp;&nbsp;Radiation Oncology<br />&nbsp;&nbsp;&nbsp;Radiation Therapy<br />&nbsp;&nbsp;&nbsp;Gamma Knife or X-knife<br />&nbsp;&nbsp;&nbsp;More than two (2) OB ultrasounds per pregnancy<br /></p>
            </div>
            <div class="col-md-6">
                <p><br />Dialysis services<br />Weight-loss services<br />In-vitro fertilization<br />Infertility studies and treatment procedures<br />Plastic and/or Reconstructive surgery<br />Outpatient Rehabilitation<br />(including Physical, Speech and Occupational therapies)<br /></p>
            </div>
            <div class="col-md-6">
                <p><b>*Other Medical Services:</b><br />&nbsp;&nbsp;&nbsp;Durable Medical Equipment<br />&nbsp;&nbsp;&nbsp;Orthotics and Prosthetics<br />&nbsp;&nbsp;&nbsp;Hospital Care<br />&nbsp;&nbsp;&nbsp;Home Health services<br />&nbsp;&nbsp;&nbsp;Transplant Evaluation services<br />
            </div>
            <div class="col-md-6">
                <p><br /><br />Chemotherapy<br />Infusion TherapyHuman Growth Hormone Therapy<br />Non-Emergent Inter-Island travel<br /><br /></p>
            </div>
            <div class="col-md-6">
                <p><b>*Second opinion (must be arranged by the Claims Administrator):</b><br />&nbsp;&nbsp;&nbsp;Inpatient cholecystectomy (gall bladder surgery)<br />&nbsp;&nbsp;&nbsp;Varicose Vein surgery<br />&nbsp;&nbsp;&nbsp;Blepharoplasty (eyelid surgery)<br />
            </div>
            <div class="col-md-6">
                <br /> <p>Septoplasty/Rhinoplasty (nose surgery)<br />Scar Revision</p>
            </div>
            <div class="col-md-12">
                <p>
                    <b>FAILURE TO OBTAIN PRE-AUTHORIZATION</b> WILL RESULT IN REDUCTION OF BENEFITS.<br />
                    <b>ANY REDUCTION OF BENEFITS</b> WILL NOT COUNT TOWARD THE MEMBER’S OUT-OF-POCKET.<br />
                    <b>PARTICPATING PROVIDERS</b> ARE RESPONSIBLE FOR OBTAINING PRE-ATHORIZATION.<br />
                    <b>THE MEMBER MUST ASSUME RESPONSIBILITY</b> FOR ANY REQUIRED PRE-AUTHORIZATION FOR SERVICES RECOMMENDED OR PROVIDED BY A NON-PARTICIPATING PROVIDER.<br />
                </p>

            </div>
        </div>
    </div>
    <!--Pre Authorization Requirement End-->
</div>