@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!-- BEGIN SAMPLE TABLE PORTLET-->
<h1>Vision Benefits At a Glance | </h1>
<h3>Calendar Year Benefits</h3>
<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-cogs"></i>Vision Care Benefits
        </div>
        <div class="tools">
            <a href="javascript:;" class="expand"> </a>
        </div>
    </div>
    <div class="portlet-body flip-scroll" style="display:none">
        <table class="table table-bordered table-striped table-condensed flip-content">
            <tbody>

                <tr>
                    <td><b>Eye Examinations</b> <br /> (Every 12months)</td>
                    <td>$60 (Ophthalmologist)<br /> $50(Optometrist)</td>
                    <td><b>Kaiser Permanente enrolless:</b> <br />Exams must be obtained at Kaiser</td>
                </tr>
                <tr>
                    <td><b>Single Vision Lenses and Frame</b> <br />(Every 24 months)</td>
                    <td>$175</td>
                    <td>If lenses are replaced without furnishing a new frame, the total allowance for both lenses and frame may be used toward the cost of such lenses.<br /><br /> <b>The allowance of the frames shall not be used toward the cost of such lenses.</b></td>
                </tr>
                <tr>
                    <td><b>Multifocal Lenses and Frame</b> <br /> (Every 24 months)</td>
                    <td>$225</td>
                    <td>If lenses are replaced without furnishing a new frame, the total allowance for both lenses and frame may be used toward the cost of such lenses.<br /><br /> <b>The allowance of the frames shall not be used toward the cost of such lenses.</b></td>

                </tr>
                <tr>
                    <td><b>Contact Lenses</b></td>
                    <td>$175</td>
                    <td>If contact lenses are furnished, no benefits are payable for a frame in the same 24-month period.<br /><br /><b>If Frame</b></td>
                </tr>
                <tr>
                    <td><b>Frame Only</b></td>
                    <td>$115</td>
                    <td>If lenses are replaced without furnishing a new framed, the total allowance for both lenses and frame may be used toward the cost of such lenses.<b>The allowance of the frames shall not be used toward the cost of contact lenses.</b></td>

                </tr>

            </tbody>
        </table>
    </div>
</div>
<!-- END SAMPLE TABLE PORTLET-->

