@using System.Threading.Tasks
@using WebPortal.Web.Public.Startup
@using CultureHelper = WebPortal.Localization.CultureHelper
@using WebPortal.Web.Public.Models
@model RegisterModel
@{
    ViewBag.CurrentPageName = FrontEndPageNames.Employer;
}
@section Styles
{
}
@section Scripts
{
}

<div class="row">
    <section class="section-top-40 section-bottom-66 section-sm-top-87 section-sm-bottom-95">
        <div class="shell">
            <div class="range">
                <!-- Sidebar Goes Here-->
                @Html.Partial("~/Views/Layout/_Esidebar.cshtml")
                <div class="cell-sm-9">

                    <img src="~/assets/images/employer-portal.jpg" />
                    <h3>Announcements</h3>

                    <h5>Welcome to our new Website</h5>
                    <p>Welcome! The look and navigation of this portal was designed to make information more accessible to participating employers. To connect to WebERF, please click on “Access Online Reporting Portal”.  We hope you enjoy the site and find the information you are looking for!</p>
                    <!--<p>June 8, 2017</p>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc,</p>-->


                </div>

            </div>

        </div>
    </section>

</div>
<div id="videoStream" class="modal fade in" role="dialog" style="display:none">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="shell">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <p class="modal-title" id="myModalLabel">Employer Registration</p>
                </div>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div id="employerSignupForm">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger"})
                    <div class="form-group">
                        @Html.LabelFor(model => model.EmployerName, htmlAttributes: new { @class= "control-label col-md-2"})
                    </div>
                    <div class="form-group"> 
                        <label for="exampleInputEmail1">Employer Account</label>
                        <input type="text" class="form-control" id="EmployerAccount" placeholder="Account Number">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Contact Name</label>
                        <input type="text" class="form-control" id="ContactName" placeholder="Contact Name">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Contact Telephone Number</label>
                        <input type="text" class="form-control" id="phone" placeholder="Telephone Number">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="email" placeholder="Email Address">
                    </div>

                    <button id="submitEmployerForm" type="submit" class="btn btn-default">Submit</button>
                </div>
            }
            </div>

        </div>
    </div>
</div>


                    