@using System.Threading.Tasks
@using WebPortal.Web.Public.Startup
@using CultureHelper = WebPortal.Localization.CultureHelper
@{
    ViewBag.CurrentPageName = FrontEndPageNames.FormerParticipant;
}
@section Styles
{
}
@section Scripts
{
}
<section class="section-top-30 section-md-top-66 bg-primary sliderFLbg">
    <div class="shell">
        <div class="range range-sm-center range-sm-middle range-sm-reverse">
            <div class="range section-sm-bottom-60 section-md-bottom-90">
                <div class="adBox cell-xs-10 cell-sm-6 cell-md-4 cell-md-preffix-8">
                    <div class="headingAlt">Local 831</div>
                    <div class="leadheading">Former Participant</br></br></br></br></div>

                </div>
            </div>
        </div>
    </div>
</section>
<div class="row">
    <section class="section-top-40 section-bottom-66 section-sm-top-87 section-sm-bottom-95">
        <div class="shell">
            <div class="range range-sm-center text-center">
                <div class="cell-sm-12">
                    <h3>Former Participant</h3>
                    <p class="big">If you participated in the Local Union 831 Trust Funds at any time during your career in the industry, you may be entitled to Pension or other benefits</p>
                    <p>Contact Us for more details and keep us updated with your current contact information:</br><b>Call Us: </b> Telephone: (626)279-3080(Local)</br> <b>Visit Us: </b>Address: 4399 Santa Anita Avenue, Suite 150 El Monte, California 91731</br><a href="mailto:webmaster@pswadmin.com" /><b>E-mail Us:</b> webmaster@pswadmin.com</a>
                </div>
            </div>
        </div>
    </section>
