@using System.Threading.Tasks
@using WebPortal.Web.Public.Startup
@using CultureHelper = WebPortal.Localization.CultureHelper
@{
    ViewBag.CurrentPageName = FrontEndPageNames.Local;
}
@section Styles
{
}
@section Scripts
{
}

<section class="section-60 section-sm-top-90 section-sm-bottom-100">
    <div class="shell">
        <div class="range range-md-justify">

            <div class="cell-md-5 cell-lg-4">
                <img src="/assets/images/831Local.jpg" />

            </div>

            <div class="cell-md-7 cell-lg-6 offset-top-50 offset-md-top-0">
                <div class="inset-md-right-15 inset-lg-right-0">
                    <div class="range">
                        <div class="cell-sm-10 cell-md-12">
                            <h3>Local Union</h3>
                            <p style="margin-top:0px;">Location and Office Hours</p>

                        </div>
                        <div class="cell-sm-6 cell-md-12 offset-top-30 offset-sm-top-45">
                            <h5>Monterey Park</h5>
                            <address class="contact-info">
                                <p class="text-uppercase">1155 Corporate Center Dr</br> Monterey Park, CA 91754</p>
                                <p class="text-uppercase">(626)296-8086</p>
                                <dl class="list-terms-inline">
                                    Office Hours</br>Monday - Friday</br>8:00 a.m. to 5:00 p.m.
                                </dl>

                            </address>
                        </div>
                        <div class="cell-sm-6 cell-md-12 offset-top-30 offset-sm-top-45 offset-md-top-30">
                            <h5>Local Union 831 Training Center</h5>
                            <address class="contact-info">
                                <p class="text-uppercase">11366 Markon Drive</br> Garden Grove, CA 92841</p>
                                <p class="text-upperca  se">Tel: (714) 894-4094 | Fax: (714) 894-4097</p>
                                <dl class="list-terms-inline">
                                    Office Hours</br>Monday - Friday</br>7:30 a.m. to 4:00 p.m.
                                </dl>
                            </address>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>