@using System.Threading.Tasks
@using WebPortal.Web.Public.Startup
@using CultureHelper = WebPortal.Localization.CultureHelper
@{
    ViewBag.CurrentPageName = FrontEndPageNames.Sites;
}
@section Styles
{
}
@section Scripts
{
}
<div class="container">
    <div class="page-header">
        <h5>Related Sites</h5>
    </div>
    <div class="range range-xs-center range-sm-left ">
        <table align="center" style="width:100%" class="table table-bordered RelatedSitesTable">
            <thead>
                <tr>
                    <th colspan="2"><h4>Union Related Sites</h4></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><h6><a href="http://www.local831.org" target="_blank">http://www.local831.org</h6></td>
                    <td><h6>Local Union 831 Tradeshow and Sign Crafts</h6></td>
                </tr>

            </tbody>
            <thead>
                <tr>
                    <th colspan="2"><h4>Benefit Related Sites</h4></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><h6><a href="http://www.aarp.org" target="_blank">www.aarp.org</h6></td>
                    <td><h6>AARP Foundation</h6></td>
                </tr>
                <tr>
                    <td><h6><a href="http://www.benefitnews.com" target="_blank">www.benefitnews.com</h6></td>
                    <td><h6>Benefit News</h6></td>
                </tr>
                <tr>
                    <td><h6><a href="http://www.ifebp.org" target="_blank">www.ifebp.org</h6></td>
                    <td><h6>International Foundation of Employee Benefit Plans</h6></td>
                </tr>
            </tbody>
            <thead>
                <tr>
                    <th colspan="2"><h4>Government Websites</h4></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><h6><a href="http://www.dhhs.gov" target="_blank">www.dhhs.gov</h6></td>
                    <td><h6>Department of Health and Human Services</h6></td>
                </tr>
                <tr>
                    <td><h6><a href="http://www.dol.gov" target="_blank">www.dol.gov</h6></td>
                    <td><h6>Department of Labor</h6></td>
                </tr>
                <tr>
                    <td><h6><a href="http://www.disabilityinfo.gov" target="_blank">www.disabilityinfo.gov</h6></td>
                    <td><h6>DisabilityInfo</h6></td>
                </tr>
                <tr>
                    <td><h6><a href="http://www.firstgov.gov" target="_blank">www.firstgov.gov</h6></td>
                    <td><h6>FirstGov</h6></td>
                </tr>
                <tr>
                    <td><h6><a href="http://www.govbenefits.gov" target="_blank">www.govbenefits.gov</h6></td>
                    <td><h6>GovBenefits.bov-Your Benefits Connection</h6></td>
                </tr>
                <tr>
                    <td><h6><a href="http://www.irs.gov" target="_blank">www.irs.gov</h6></td>
                    <td><h6>Inernal Revenue Service</h6></td>
                </tr>
                <tr>
                    <td><h6><a href="http://www.medicare.gov" target="_blank">www.medicare.gov</h6></td>
                    <td><h6>Medicare</h6></td>
                </tr>
                <tr>
                    <td><h6><a href="http://www.osha.gov" target="_blank">www.osha.gov</h6></td>
                    <td><h6>Occupational Saftey and Health Adminstration</h6></td>
                </tr>
                <tr>
                    <td><h6><a href="http://www.ssa.gov" target="_blank">www.ssa.gov</h6></td>
                    <td><h6>Social Security Adminstration</h6></td>
                </tr>
            </tbody>
            <thead>
                <tr>
                    <th colspan="2"><h4>Information Related Websites</h4></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><h6><a href="http://www.aflcio.org" target="_blank">www.aflcio.org</h6></td>
                    <td><h6>American Federation of Labor and Congress of Industrial Organizations</h6></td>
                </tr>
                <tr>
                    <td><h6><a href="http://www.laborstart.org" target="_blank">www.laborstart.gov</h6></td>
                    <td><h6>Labor Start</h6></td>
                </tr>
                <tr>
                    <td><h6><a href="http://www.workingfamilies.com" target="_blank">www.workingfamilies.com</h6></td>
                    <td><h6>Working Families</h6></td>
                </tr>
            </tbody>
            <thead>
                <tr>
                    <th colspan="2"><h4>Utility Websites</h4></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><h6><a href="http://www.adobe.com" target="_blank">www.adobe.com</h6></td>
                    <td><h6>Adobe Acrobat Reader for PDF files</h6></td>
                </tr>
                <tr>
                    <td><h6><a href="http://www.microsoft.com" target="_blank">www.microsoft.com</h6></td>
                    <td><h6>Internet Explorer Browser Download</h6></td>
                </tr>
                <tr>
                    <td><h6><a href="http://www.channels.netscape.com" target="_blank">www.channels.netscape.com</h6></td>
                    <td><h6>Netscape Browser Download</h6></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>