@using WebPortal.Web.Areas.App.Models.Common
@model IFeatureEditViewModel
<div class="feature-tree">
    @Html.Partial("~/Areas/App/Views/Common/_FeaturesTreeItem.cshtml", new FeatureTreeItemModel(Model, null))
</div>