@using System.Threading.Tasks
@using WebPortal.Tenants.Dashboard.Dto
@using WebPortal.Web.Areas.App.Startup
@{
    ViewBag.CurrentPageName = AppPageNames.Tenant.Claims;
}

@section Scripts
{
    <environment names="Development">
        <script src="~/lib/angular/angular.js"></script>
        <script src="~/lib/angular-mask/dist/ngMask.js"></script>
        <script src="~/lib/angular-ui-router/release/angular-ui-router.js"></script>
        <script src="~/app/claims/lb/claimsApp.js"></script>
        <script src="~/app/claims/lb/ClaimsController.js"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/lib/angular/angular.min.js"></script>
        <script src="~/lib/angular-mask/dist/ngMask.min.js"></script>
        <script src="~/lib/angular-ui-router/release/angular-ui-router.min.js"></script>
        <script src="~/app/claims/lb/claimsApp.js"></script>
        <script src="~/app/claims/lb/ClaimsController.js"></script>
    </environment>
}

<div class="row margin-bottom-5">
    <div class="col-xs-6">
        <div class="page-head">
            <div class="page-title">
                <h1>
                    <span>@L("Claims")</span>
                </h1>
            </div>
        </div>
    </div>
</div>

<div ng-app="claimsApp" ui-view>

</div>