@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="cell-sm-3">
    <div class="cell-sm-3" style="background: #000; padding:0px; color:#fff; margin-bottom:50px;">
        <h5 style="color:#ffc002; padding:15px"><b>Employer Resources</b></h5>
        <ul class="employer-information">
            <li><a href="~/Common/Docs/Employer/employer_guide.pdf">Employer Guide</a></li>
            <!--<li><a href="\employer">General Instructions</a></li>-->
            <li><a href="\Home\Efaqs">Frequently Asked questions</a></li>
            <li><a href="~/Common/Docs/Employer/weberf_ach_instructions.pdf" target="_blank">WebERF ACH Processing Instructions</a></li>
            <li><a href="http://l831.review.weberf.com" target="_blank">Access Online Reporting Portal</a></li>

        </ul>
    </div>
    <div>
        <a href="\Home\Eonline" class="btn btn-smaller btn-primary-outline">Register to Report Online</a>
    </div>
</div>