@using Abp.Timing
<!-- BEGIN FOOTER -->
<section class="bg-ebony-clay">
    <div class="section-40 section-sm-75">
        <div class="shell">
            <div class="range range-xs-center">
                <div class="cell-xs-9 cell-sm-11 cell-lg-12">
                    <div class="range">
                        <div class="cell-sm-6 cell-md-10 cell-lg-3">
                            <div style="max-width: 510px;" class="inset-lg-right-20">
                                <p class="offset-top-22">
                                    <span>Trust Fund Administrator</span></br></br> <a rel="nofollow" href="http://corporate.pswadmin.com" target="_blank" class="link-white link-bold"><img src="~/assets/images/pswa-logo.png" /></a>
                                </p>
                            </div>
                        </div>
                        <div class="cell-sm-6 cell-md-4 cell-lg-3 offset-top-50 offset-sm-top-0 offset-md-top-50 offset-lg-top-0">
                            <p class="h7 link-white link-bold">Recent Notices</p>
                            <div class="offset-top-22 offset-md-top-30">
                                <article class="post post-preview post-preview-inverse offset-top-22">
                                    <a href="/Docs/Notices/important-notices/1.pdf" target="_blank">
                                        <div class="unit unit-horizontal unit-spacing-lg">

                                            <div class="unit-body">
                                                <div class="post-header">
                                                    <p>Notification of the Twelve (12) Month Rolling Enrollment Period</p>
                                                </div>
                                                <div class="post-meta">
                                                    <ul class="list-meta">
                                                        <li>
                                                            <time datetime="2016-06-23">March 2017</time>
                                                        </li>

                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </article>
                                <article class="post post-preview post-preview-inverse offset-top-22">
                                    <a href="/Docs/Notices/2.pdf">
                                        <div class="unit unit-horizontal unit-spacing-lg">

                                            <div class="unit-body">
                                                <div class="post-header">
                                                    <p>Annual Funding Notice FYE</p>
                                                </div>
                                                <div class="post-meta">
                                                    <ul class="list-meta">
                                                        <li>
                                                            <time datetime="2016-06-23">December 2016</time>
                                                        </li>

                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </article>
                            </div>
                        </div>
                        <div class="cell-sm-6 cell-md-4 cell-lg-3 offset-top-50 offset-lg-top-0">
                            <p class="h7 link-white link-bold">Quick links</p>
                            <div style="max-width: 270px;" class="row offset-top-22 offset-md-top-30">
                                <div class="col-xs-6">
                                    <ul class="list-marked-variant-2">
                                        <li><a href="\">Home</a></li>
                                        <li><a href="\Members\HealthPlan">Health</a></li>
                                        <li><a href="\Members\Pension">Pension</a></li>
                                    </ul>
                                </div>
                                <div class="col-xs-6">
                                    <ul class="list-marked-variant-2">
                                        <li><a href="\Home\Local">Local Unions</a></li>
                                        <li><a href="\Home\Contact">Contacts</a></li>
                                        <li><a href="\Home\Sites">Related Sites</a></li>
                                        <li><a href="\Home\Privacy">Privacy Policy</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="cell-sm-6 cell-md-4 cell-lg-3 offset-top-50 offset-lg-top-0">
                            <p class="h7 link-white link-bold">Contact us</p>
                            <address class="contact-info offset-top-22 offset-md-top-30 offset-lg-top-35 text-left">
                                <div class="unit unit-horizontal unit-spacing-md unit-middle">
                                    <div class="unit-left"><span class="icon icon-xs icon-storm-gray material-icons-phone"></span></div>
                                    <div class="unit-body"><div class="link-white">(626)279-3080</div></div>
                                </div>
                                <div class="unit unit-horizontal unit-spacing-md unit-middle offset-top-15">
                                    <div class="unit-left"><span class="icon icon-xs icon-storm-gray fa fa-envelope-o"></span></div>
                                    <div class="unit-body"><a href="mailto:webmaster@pswadmin.com" class="link-white">webmaster@pswadmin.com</a></div>
                                </div>
                                <div class="unit unit-horizontal unit-spacing-md offset-top-15">
                                    <div class="unit-left"><span class="icon icon-xs icon-storm-gray material-icons-place"></span></div>
                                    <div class="unit-body"><div class="link-white reveal-inline">4399 Santa Anita Avenue, Suite 150<br>El Monte, CA 91734</div></div>
                                </div>
                            </address>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="shell">
        <hr>
    </div>
</section>
<!-- Page Footer-->
<footer class="page-foot bg-gray-darker">
    <div class="shell text-center">
        <div class="range">
            <div class="cell-xs-12 offset-top-25">
                <p class="link-white link-bold" style="padding:15px 0px"><a rel="nofollow" href="http://corporate.pswadmin.com" target="_blank" class="link-white">Created by Pacific Southwest Administrators</a></p>
            </div>
        </div>
    </div>
</footer>
    </div>

<!-- Javascript-->
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

<script src="~/assets/js/core.min.js"></script>
<script src="~/assets/js/script.js"></script>

<script>
		$("#faqAnimation li").click(function(){


			$(".active").hide().removeClass("active");

			var sectionName = $(this).attr('id');
			$("#" + sectionName + "-section").fadeIn( 3000, function() {
			         $("#" + sectionName + "-section").addClass("active");
			});
		});
		$("#employerClick").click(function(){
			$(".active").hide().removeClass("active");
			$("#employerForm").slideToggle(3000, function(){
				$("#employerForm").addClass("active");
			});
		});
		$(".closeForm").click(function (){
			$(".active").hide().removeClass("active");
			$("#employerPortal").slideToggle(3000, function(){
				$("#employerPortal").addClass("active");
			});
		});

		$('#employerClick').css( 'cursor', 'pointer' );
		$('.closeForm').css( 'cursor', 'pointer' );
		$('#submitEmployerForm').click(function(){
			var CompanyName = $("#CompanyName").val();
			var EmployerAccount = $("#EmployerAccount").val();
			var ContactName = $("#ContactName").val();
			var phone = $("#phone").val();
			var email = $("#email").val();

			 var data =
			 {
				CompanyName:CompanyName,
				EmployerAccount:EmployerAccount,
				ContactName:ContactName,
				phone:phone,
				email:email,

			 };


			$.ajax({
					type: 		'POST',
					url:		'/submit-employer-form',
					data: 		data,
					dataType:	'json',
					success:	function(json)
					{
						if (json.status == "success")
						{
						  $('#form-error').replaceWith('<div id="form-error">' + json.data + '</div>' );

						}
						else if (json.status == "delivered")
						{
						  $('#employerSignupForm').replaceWith('<div id="employerSignupForm">' + json.data + '</div>' );
						  $('#myModalLabel').replaceWith('<p class="modal-title" id="myModalLabel"><b>Email Submission Success</b> Confirmation Receipt: ' + json.confirmation + '</p>');
						}
					}


			});
		});
		$('#noticeForm').click(function(){
			var noticeFname = $("#noticeFname").val();
			var noticeEmail = $("#noticeEmail").val();


			 var data =
			 {
				noticeFname:noticeFname,
				noticeEmail:noticeEmail
			 };


			$.ajax({
					type: 		'POST',
					url:		'/notice-registration-form',
					data: 		data,
					dataType:	'json',
					success:	function(json)
					{
						if (json.status == "success")
						{
						  $('#form-error').replaceWith('<div id="form-error">' + json.data + '</div>' );

						}
						else if (json.status == "confirm")
						{
						  $('#noticeFormHolder').replaceWith('<p id="noticeFormHolder"><b>You have been registered to receive important notices by email.</b> Confirmation Registration Receipt: #' + json.confirmation + '</p>');
						}
					}


			});
		});
		$('#calculate').click(function(){
			level = $('.select2-selection__rendered').attr('title');
			credits = $('#credits').val();

			var data =
			 {
				level:level,
				credits:credits
			 };


			$.ajax({
					type: 		'POST',
					url:		'/calculate-benefit',
					data: 		data,
					dataType:	'json',
					success:	function(json)
					{
						if (json.status == "success")
						{
						  $('#calc-final').replaceWith(json.data);

						}
						else if (json.status == "failed")
						{
						  $('.form-validation').replaceWith('<span class="form-validation">' + json.data + '</span>');
						}
					}


			});
		});

		$('.clickStream').click(function(){
			pointer = $(this).find('div').attr('class');
			$('.closeItem').css("display", "none");

			data = $(this).find('p').text();
				$('#myModalLabel').html(data);

			if(pointer == "media1")
			{

				$('.media1l').css("display", "block");
			}
			else if (pointer == "media2")
			{
				$('.media2l').css("display", "block");
			}
			else if (pointer == "media3")
			{
				$('.media3l').css("display", "block");
			}

			$('#videoStream').modal({
					show: true,
					backdrop: 'static'
	    	});
		});
</script>

  </body>
</html>